 <!-- MARQUEE MARQUES -->
        <div class="brands-marquee-wrapper py-4">
            <div class="brands-marquee-track">
                <!-- Répété 2 fois pour l'effet infini -->
                <div class="brands-marquee-inner">
                    <img src="/static/svg/apple-logo-svgrepo-com.svg" alt="Apple" class="brand-logo">
                    <img src="/static/svg/dji-1-logo-svgrepo-com.svg" alt="DJI" class="brand-logo">
                    <img src="/static/svg/hp-svgrepo-com.svg" alt="HP" class="brand-logo">
                    <img src="/static/svg/samsung-svgrepo-com.svg" alt="Samsung" class="brand-logo">
                    <img src="/static/svg/apple-logo-svgrepo-com.svg" alt="Apple" class="brand-logo">
                    <img src="/static/svg/dji-1-logo-svgrepo-com.svg" alt="DJI" class="brand-logo">
                    <img src="/static/svg/hp-svgrepo-com.svg" alt="HP" class="brand-logo">
                    <img src="/static/svg/samsung-svgrepo-com.svg" alt="Samsung" class="brand-logo">
                </div>
                <div class="brands-marquee-inner" aria-hidden="true">
                    <img src="/static/svg/apple-logo-svgrepo-com.svg" alt="Apple" class="brand-logo">
                    <img src="/static/svg/dji-1-logo-svgrepo-com.svg" alt="DJI" class="brand-logo">
                    <img src="/static/svg/hp-svgrepo-com.svg" alt="HP" class="brand-logo">
                    <img src="/static/svg/samsung-svgrepo-com.svg" alt="Samsung" class="brand-logo">
                    <img src="/static/svg/apple-logo-svgrepo-com.svg" alt="Apple" class="brand-logo">
                    <img src="/static/svg/dji-1-logo-svgrepo-com.svg" alt="DJI" class="brand-logo">
                    <img src="/static/svg/hp-svgrepo-com.svg" alt="HP" class="brand-logo">
                    <img src="/static/svg/samsung-svgrepo-com.svg" alt="Samsung" class="brand-logo">
                </div>
            </div>
        </div>