 <!-- OFFCANVAS navigation mobile -->
<div class="offcanvas offcanvas-start nav-offcanvas" data-bs-backdrop="false" tabindex="-1" id="navOffcanvas" aria-labelledby="navOffcanvasLabel">
    <div class="offcanvas-header">
        <img class="logo" src="{{ url_for('static', filename='back/logo.jpeg') }}" alt="Logo">
        <button type="button" class="btn-close-offcanvas" data-bs-dismiss="offcanvas" aria-label="Fermer">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <ul class="offcanvas-nav" id="container-menu">
            
        </ul>

        <!-- Profil en bas -->
        <div class="oc-profile">
            <img src="https://i.pravatar.cc/42" alt="Profil" width="42" height="42" class="rounded-circle">
            <div class="profile-info">
                <div class="profile-name">{{ session.get('user_nom') or 'Invité' }}</div>
                <div class="profile-email">{{ session.get('user_email') or 'Email non disponible' }}</div>
            </div>
            <a href="/logout" class="profile-icon-btn"><i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>
</div>
